<style>
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    }
il{
    background-color: blue;
}
p , ul {
    background-color: black;
}
p {
    font-size: 3em;
}
body {
    font-size: 16px;
    background-color: blueviolet;
}


</style>