body {
  background-color: #a1cca5;
}
.header {
  background-color: #709775;
  text-align: center;
  color: #111d13;
  padding: 10px;
}
.cards {
  background-color: #415d43;
  color: #111d13;
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 20px;
  border-radius: 25px;
  text-align:center;
  font-size: 30px;
  padding-top: 20px;
}